node_modules
coverage
.nyc_output
mongo
.vscode
logs
variables.env
prod.variables.env

# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.idea
/package-lock.json

# Local deployment scripts and test file dumps
*.sh
*.csv
